<div class="about">
  <h1>About</h1>
  <p>This website was created as an exercise to understand how Ruby on Rails works,it is not meant to be
  a real site.</p>
  <h3>Tasks to acomplish.</h3>
  <ul>
    <li>Create user model.</li>
    <li>Create Picture model.</li>
    <li>Add bcrypt to user.</li>
    <li>Add relationship between user and Picture.</li>
    <li>Upload to site.</li>
  </ul>
</div>
