<h2 class="edit-picture">Edit your Picture</h2>
<%= render "form" %>
<div class="links">
  <%= link_to "Delete Picture", picture_path(@picture), method: :delete, data: {confirm: 'Are you sure?'} %> | <%= link_to "Back to Pictures", pictures_path %>
</div>
