	<h1>Pictures</h1>

<% @pictures_last.each do |picture| %>
	<div class="single-pic">
		<p class="title"><%= picture.title %></p>
		<img src="<%= picture.url %>", alt="<%= picture.title %>" class="picture">
		<p class="artist"><%= picture.artist %></p>
	</div>
<% end %>
