<% if @picture.errors.any? %>
  <div id="error_explanation" class="error_explanation">
    <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1 class="title-new-pic">Add a new Picture</h1>
<%= render "form" %>
