// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about {
  color: white;
  text-align: center;
  font-size: 2em;
}

.about h3 {
  margin-top: 1em;
  margin-bottom: .5em;
  text-decoration: underline;
}
